*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
}

.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: gray;
    background: linear-gradient(164deg, rgb(224, 235, 213) 0.00%, rgb(37, 148, 141) 100.00%);}

.box{
    width: 50%;
    max-width: 400px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.box h1{
    border-bottom: 1px solid black;
    padding-bottom: 25px;
    margin-bottom: 10px;
    
}
.btn{
    width: 100%;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    margin: 10px 0px;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.3s;
   
}
.btn:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    width: 50%;
    text-align: center;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    margin: 20px auto 0;
    background-color: rgb(43, 43, 113);
    display:none;
}

.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}